@import url("https://db.onlinewebfonts.com/c/f66e0c726d747441168bfadd506314d3?family=KIA+Medium");

html{
  overflow-x: hidden;
}
body {
  font-size: 1rem !important;
  font-weight: 500 !important;
  overflow-x: hidden;
  
  font-family: inter;
}
:root {
  --primary-color: #F7761F;
  --secondery-color: #181E4B;
  --section-color: #9F9C9C;
  --font-family: "Hanken Grotesk";
}
.btn {
  font-weight: 700 !important;
}
h1 {
  /* font-size: 3.5rem;
  font-weight: 600; */
  font-size: 90px;
}
h2 {
  font-size: 70px;
}
p {
  /* margin: 0px; */
  font-size: 20px;
  color:var(--section-color);
}
.header {
  position: relative;
}
.box{
  background: #F7761F1A;
  text-align: center;
  padding: 20px;
  padding: 20px;
  min-height: 200px;
  max-height: 200px;
}
.box strong{
  display: block;
  font-size: 70px;
}
a{
  text-decoration: none;
  color:#000;
}
.achivment h2{

  font-size: 50px;
}
li{
    list-style: none;
}
.achivment p{
  color:var(--section-color) !important;
}
.box p{
  
  color:#000;
  font-size: 20px;
 
}

.inner_serivce strong{
display: block;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.serivce strong{
  font-size: 40px;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #000;
    line-height: 65px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}
.nav div.main_list ul li .active{
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 0px;
  cursor: pointer;
}
.main_primary{
  color:#fff !important;
  background-color: var(--primary-color);
  line-height: 30px !important;
  padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px !important;
    padding: 10px 38px;
}
.btn.main_primary:hover{
  background-color:var(--primary-color);
}
.serivce img ,.serivce strong{
margin-bottom: 15px;

}
.inner_serivce {
  
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Inner background color */
    position: relative;
     box-shadow:0px 26px 33px 1px rgba(0, 0, 0, 0.1); 

}
.inner_serivce:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 25px;
    z-index: -1;
    background: linear-gradient(180deg, #FDEBFF, #D7D7D7);
}

.inner_serivce:hover:before {
    background: linear-gradient(180deg, #D7D7D7, #F7761F); }

    
.services h2{
font-size: 48px;
}
.inner_leadership{
    position: relative;
}
.img_text{
    position: absolute;
    top: 32%;
    left: -47px;
}
.inner_leadership{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leadership h2{
    font-size: 64px;
    font-weight: 700;
}
.leadership strong{
    display: block;
    font-size: 30px;
    
}
.leadership p{
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.job{
    background-color: var(--primary-color);
    height: 139px;
    position: relative;
}
.job .container{
    text-align: center;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main_primary1{
    background-color: #fff;
    color: #000 !important;
}
.serivce{
    margin-bottom: 25px;
}
.job_width{
    position: relative;
}
/* .job_width{
    position: absolute;
} */
.job strong{
    font-size: 48px;
    color: #fff;
}

.job_width1,.job_width2{
    width: 50%;
}
.second_img{
    display: flex;
    justify-content: flex-end;
}
.main_primary1:hover{
    background-color:  #fff !important;
}
.main_serivce{
    background-image: url('img/icon_serivce.png');
    background-repeat: no-repeat;
    background-position-x: right;
    
}
.bottom_img{
    display: flex;
justify-content: space-around;
margin-top: 7px;
}
/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 45px;
  bottom: 32px;
}

.navTrigger i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}

.banner{
  background: linear-gradient(90deg, #FEF1E9, #FEF1E900);
}
.banner h1{
  line-height: 90px;
  color:var(--secondery-color);
}

.banner p{
  color: #9F9C9C;
    font-size: 19px;
}
.first_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_text {
    display:unset;
}
.first_text img{
    width: 100%;
    object-fit: scale-down;
}
.first p{
    font-size: 20px;
    color:var(--primary-color);
    margin-bottom: 30px;
}

.first h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.first p:nth-of-type(2){
    color: #000;
}

.second strong{
    font-size: 24px;
}
.second p{
    font-size: 16px;
}

.inner_second{
    border-left: 3px solid #EAEAEA;
    margin-right: 7px;
    padding-left: 18px;
    margin-bottom: 30px;
}

.inner_second:hover{
    border-left: 3px solid var(--primary-color);
}


.other .main_slider{

position: relative;
}
.other .main_slider::before{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-bottom-left-radius: 234px;
    height: 100%;
    width: 100%;
}
.inner_other {
    position: relative;
}
.inner_other::before{
    content: "";
    background-image: url(img/bg1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    right: 200px;
   
}
.job_width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job_width img:first-child{
    align-self: flex-start;
    position: absolute;
    top: -52px;
}
.job_width img:last-child {
    align-self: flex-end;
  }
.other .row{
position: relative;
top: 46px;
}
.job{
    position: relative;
}
/* .job .job_width {
    position: absolute;
} */
.service_box {
    display: flex;
    padding: 14px;
    border-radius: 17px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.service_box img {
    padding-left: 8px;
}

.service_box img {
    object-fit: none;
    margin-right: 11px;
    display: block;
    margin-bottom: 10px;
}
.newletter h2,.other h2,.faq h2{
    text-align: left;   
}
.inner_box {
    min-height: 180px;
}
.inner_box b{
    font-size: 20px;
    color: #000;
}
.service_box:hover b{
    color: #fff;

}
.icon_1{
    display: flex;
    align-items: center;
    margin: 0px !important;
}

.icon_1 img{
    margin: 0px;
}
.newletter h2,.other h2,.faq h2{
    text-align: left;   
}
.number strong {
    font-family: DM Sans;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.02em;
        text-align: center;
    }
.number h2 span ,.services span , .artical span , .newletter span,.bussiness span, .other span{
    color:#D02D2D;
}

.other P,.faq p{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: #555770;
    }
    .other .item p{
    font-size: 14px;
    color: #8E90A6;
}
    /* .other .owl-carousel .item{
       display: flex !important;
  
    } */
    .other .item{
        /* border:2px solid #ccc; */
        border-radius: 9px;
        
    }
    .card {
        text-align: center; /* Center-align content */
        padding: 15px;
        background-color: #fff; /* Add background color */
        border: 1px solid #ddd; /* Optional border */
        border-radius: 5px; /* Optional rounded corners */
    }
    
    .card img {
        max-width: 100%; /* Responsive images */
        height: auto;
    }
    
    .card strong {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    .other a{
    color: #D02D2D;
    text-decoration: none;
    display: flex;
    object-fit: cover;
    align-items: center;
}

.other .owl-carousel .card{
    height: 100%;
    padding: 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Card styling */
.card {
    text-align: center; /* Center-align content */
    padding: 15px;
    background-color: #fff; /* Add background color */
    border: 1px solid #ddd; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
}

.card img {
    max-width: 100%; /* Responsive images */
    height: auto;
}
/* .owl-carousel.owl-drag .owl-item{
    width:33% !important;
    margin: 0px !important;
    padding-bottom: 0px !important;
} */
.card strong {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.other .owl-carousel .owl-item img{
    display: block;
    text-align: left;
    width: 40% !important;
    margin-bottom: 15px;
}

.other .owl-item{
    padding: 30px;
    padding-left: 20px;
    padding-right: 0px;
}

.other .item>img {
    margin-bottom: 15px;
    /* min-height: 30px;
    max-height: 40px; */
}
.other .item a img{
margin-left:10px;
}
.other strong {
    font-family: Open Sans;
font-size: 40px;
font-weight: 700;
line-height: 23px;
color: #141F3C;
text-align: left;
}
.first1{
    
    max-width: unset;

}

.other .owl-carousel .owl-nav {
    display: flex;
    justify-content: end;
    position: absolute;
    top: -125px;
    right: 20px;
}
.other .owl-next span, .other .owl-prev span{
    display: none;
}
.service_box a{
    color:#000;
}
.service_box:hover a{
    color: #fff;
}
.service_box.hover .icon_1{
    color:#fff !important;
}
.service_box .icon_1 img {
    filter: invert(1);
}
.service_box:hover .icon_1 img{
    filter: invert(0);
}
/* .service_box:hover a{
    filter: invert(1);
} */
.faq{
    background: #FAFAFA;
    padding-top: 30px;
    border-radius: 12px;
    padding-bottom: 2em;
}
.service_box{
   border:2px solid var(--primary-color);
}
.service_box:hover {
    background: var(--primary-color);
    border:2px solid var(--primary-color);
}
.service_box p{
    color:#000;
    font-size: 16px;
}
.service_box:hover p{
    color:#fff;
}
.faq .accordion-button{
    justify-content: space-between;
}.service_box
.faq img{
    display: block;
}
.faq .accordion-item{
    background: #fff;
    margin-bottom: 13px;
}
.faq b{
    color: #fff;
}
.other  .owl-carousel .owl-dots.disabled, .other .owl-carousel .owl-nav.disabled{
    display: block;
}
.other .owl-carousel .owl-nav button.owl-prev{
    background-image: url(img/slider_left_icon.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 56px;
    /* box-shadow: 0px 12px 16px -4px #1018281A; */
    margin-right: 30px;
    margin-top:20px;
}
.other .owl-carousel .owl-nav button.owl-next {
    background-image: url(img/slider_right_icon.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 56px;
    /* box-shadow: 0px 12px 16px -4px #1018281A; */
    margin-top:20px;
    margin-right: 95px;
}
.other .owl-carousel  button:focus {
    outline: unset;
}

.footer {
    background-color: #f8f9fa; /* Light grey background */
    padding: 40px 0;
  }
  
  .footer h4, .footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer p, .footer ul {
    margin: 0;
    padding: 0;
    color:#262B36;
    font-size: 20px;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer ul li a {
    
    text-decoration: none;
  }
  

  .footer_menu li a{
  color:#606B86;
  text-decoration: none;
  }
  .footer .fab {
    margin-right: 8px; /* Space between icon and text */
  }
  .footer_menu li {
    margin-bottom: 20px;
}

@media screen and (max-width:1024px){
    .inner_serivce {
        min-height: 470px;
        max-height: 470px;
    }
    .img_width img{
        width: 90%;
    }

}
@media screen and (max-width:992px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        position: relative;
    }
    .nav div.main_list ul li a {
        text-align: end;
        font-size: 23px;
       position: absolute;
       left: 0px;
    }
    .nav div.media_button {
        display: block;
    }
    .inner_serivce{
        min-height: unset;
        max-height: unset;
    }

    .job .container{
        padding-top: 45px;
    }
    .job strong {
        font-size: 39px;

    }
    .fade-rotate{
        opacity: 0;
        transform: rotate(42deg);
        transition: ALL 1s ease;
    }
    .fade-rotate.active{
        opacity: 1;
        transform: rotate(349deg);
    }
    .fade-right{
        opacity: 0;
        transform: translateX(100px);
        transition: all 1s ease;
    }
    .fade-right.active{
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
    .fade-right{
        opacity: 0;
        transform: translateX(100px);
        transition: all 1s ease;
    }
    .fade-right.active{
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
    .fade-left1{
        opacity: 0;
        transform: translateX(-100px);
        transition: All 1s ease;
        visibility: hidden;
    }
    .fade-left1.active{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        z-index: 1;
    }
    .fade-left{
        opacity: 0;
        transform: translateX(-100px);
        transition: All 1s ease;
        visibility: hidden;
    }
    .fade-left.active{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        z-index: 1;
    }
    .right.active{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
   .zoom-out{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.8);
    transition: All 0.8s ease-in-out;
   }
   .zoom-out.active{
    opacity: 1;
    visibility: visible;
    transform: scale(0);
    visibility: visible;
   }
   .fade-in-up{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: All 1s ease-in-out;
   }
.fade-in-up.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.fade-in-down {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: All 1s ease-in-out;
}
.fade-in-down.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0)

}
.process{
    display: none;
}
  }
  
  @media all and (max-width:767px){
      .myP {
          padding:2%;
      }
      .box{
        margin-bottom: 15px;
      }
      .other strong{
        font-size: 35px;
      }
      .inner_second{
        margin-bottom: 20px;
      }
      .job strong {
        font-size: 22px;
    }
    /* .newletter h2, .other h2, .faq h2{
        font-size: 40px;
    } */
  }

  @media all and (max-width:592px){
    .newletter h2, .other h2, .faq h2{
        font-size: 40px;
    }
    .other .owl-carousel .owl-nav button.owl-next{
        margin-right: 10px;
    }
    .industries .inner_mobile{
margin-bottom: 0px !important;
    }
    .leadership h2{
        font-size: 50px;
    }
    .inner_leadership{
        display:unset
    }
  }
  @media all and (min-width:355px) and (max-width:767px)
{
    .job strong
    {
        font-size: 17px;
        display: block;
        margin-bottom: 10px;
    }
    .job a {
        font-size: 15px;
        margin-top: 3px;
    }

    .job .container{
        display: block;
    }
    .job .container {
        padding-top: 26px;
    }
}
  

  /*------------- form use in work---------------------*/

  .industries h2,.process h2{
    font-size: 31px;
    font-family: 'Inter';
    font-weight: 700;
  }

  .industries p{
    font-size: 18px;
    line-height: 2;
    color: #402B2B;
  }

  .industries_box{
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .industries strong{
    margin-bottom: 10px;
    display: block;
    font-size: 22px;

  }

  .inner_industry {
    display: flex;
    flex-wrap: wrap;
  }
.inner_industry p{
    font-size: 16px;
}

  .process ul{
    display: flex;
        justify-content: space-between;
  }

  .process .number{
    width:81%;
    color: #2F281E;
    font-size: 32px;
  }

  .count {
    height: 3px;
    width: 100%;
    margin-bottom: 21px;
    width:81%;

    background-color: #4A5B67;
}
.process p{
    font-size: 18px;
    color: #402B2B;
}
.process .inner_process p{
    font-size: 16px;
}
/* .process .count ul li{
    margin-top: 20px;
} */
.process .count ul li {
    border-right: 1px solid  var(--primary-color);
 
    border: 2px solid var(--primary-color);
    height: 25px;
    position: relative;
    bottom: 8px;
    
}

.location iframe{
    width: 100%;
    border-radius: 25px;
    height: 97%;
}
.location h2{
    font-size: 42px;
    font-weight: 700;
}
.location p{
    font-size: 18px;
}
.location input{
    padding: 7px;
    border-radius: 16px;
    border: 1px solid #1819451A;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}
.location a{
    cursor: pointer;
}
.inner_form{
    color: #18194599;
    width: 100%;
    margin-right: 20px;
}
.location .inner_form label{
    margin-right: 40px;
    font-size: 12px;
text-transform: uppercase;
margin-bottom: 13px;
font-weight: 600;

font-family: inter;
}
.location select{
    padding: 7px;
    border-radius: 16px;
    border: 1px solid #1819451A;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #18194599;
    width: 100%;
}
.inner_form textarea {
width: 100%;
    height: 200px;
    height: 200px;
    border: 1px solid #1819451A;
}
/* ::selection{
   
} */
 .img1{
    background: #583FBC33;
    width: 60px;
    padding: 10px;
    border-radius: 16px;
    margin-right: 20px;

 }
.maually_inner{
    display: flex;
    align-items: end;
}
 .inner_img{
    background: var(--primary-color);
    padding: 10px;
    border-radius: 16px;

 }

 .inner_form .main_primary{
    padding: 10px 86px;
 }

